{{page-title "Show"}}

<div class="container">
  <Ux::PageHeader @model={{@model}} @kind="show" />

  <div class="row">
    <Ux::DetailsCard @resource={{@model}} class="col-12" @title="Details" as |C|>
      <C.Property @property="label" />
      <C.Property @property="sortIndex" />
    </Ux::DetailsCard>
  </div>

  <div class="row">
    <Ux::DetailsCard @resource={{@model}} class="col-6 col-s-12">
      <:title>Products</:title>
      <:body as |C|>
        <C.Card.Section @title="Spotlight">
          TODO
        </C.Card.Section>
        <C.Card.Section @title="All">
          <C.Property @renderLabel={{false}} @property="products" />
        </C.Card.Section>
      </:body>
    </Ux::DetailsCard>

    <Ux::DetailsCard @resource={{@model}} class="col-6 col-s-12">
      <:title>Nesting</:title>
      <:body as |C|>
        <C.Card.Section @title="Parent groups">
          <C.Property @renderLabel={{false}} @property="parentGroups" />
        </C.Card.Section>
        <C.Card.Section @title="Nested groups">
          <C.Property @renderLabel={{false}} @property="childGroups" />
        </C.Card.Section>
      </:body>
    </Ux::DetailsCard>
  </div>
</div>

{{outlet}}