{{page-title "Edit"}}

<div class="container">
  <h1>{{@model.label}}<small>, edit product detail</small></h1>

  <form {{on "submit" (pipe (e/prevent-default) (call @model "save"))}} class="row">
    <Ux::DetailsCard @resource={{@model}} class="col-12 col-md-8">
      <:title>Details</:title>
      <:body as |C|>
        <C.Property @property="plu" @label="PLU" />
        <C.Property @property="label" />
        <C.Property @property="altLabel" />
        <C.Property @property="unitPrice" @label="Unit Price"><Product::UnitPrice @value={{@model.unitPrice}} /></C.Property>
        <C.Property @property="description" />
        <C.Property @property="ingredientsText" @label="Ingredients">{{{@model.ingredientsText}}}</C.Property>
        <C.Property @property="allergensText" @label="Allergens">{{{@model.allergensText}}}</C.Property>
        <C.Property @property="nutricionDataText" @label="Nutricion data">{{{@model.nutricionDataText}}}</C.Property>
        <C.Property @property="sortIndex" />
        <C.Property @property="productLabels" />
        <C.Property @property="isEnabled" />
      </:body>
    </Ux::DetailsCard>
    <Ui::Card @title="world" class="col-12 col-md-4">Yolo</Ui::Card>
    <BsButton type="submit" @type="primary">Save</BsButton>
  </form>
</div>

{{outlet}}