{{page-title "Products overview"}}

<div class="container">
  <Ux::PageHeader @kind="list" @class="product" />

  <Ui::Table
    @content={{@model}}
    @view={{this.view}}
    @fields="plu:PLU label isEnabled:published? unitPrice:price"
    @customFields="unitPrice isEnabled"
    @sortableFields="plu label isEnabled"
    @links="products.edit:edit:pencil products.show:open:file-earmark-richtext"
    @rowLink="products.edit"
    @autoSearch={{500}}
  >
    <:data-cell as |cell|>
      {{#if (eq cell.attribute "unitPrice")}}
        <td>
          <Product::UnitPrice @value={{cell.value}} />
        </td>
      {{else if (eq cell.attribute "isEnabled")}}
        <td>
          {{#if cell.value}}Yes{{else}}No{{/if}}
        </td>
      {{/if}}
    </:data-cell>
  </Ui::Table>
</div>

{{outlet}}