{{page-title "Products overview"}}

<div class="container">
  <Ux::PageHeader @kind="list" @class="product" />

  <Ui::Table
    @content={{@model}}
    @fields="plu:PLU label isEnabled:published? unitPrice:price"
    @customFields="unitPrice isEnabled"
    @sortableFields="plu label isEnabled"
    @links="products.edit:edit:pencil products.show:open:file-earmark-richtext"
    @rowLink="products.edit"
    @isLoading={{this.isLoadingModel}}
    @filter={{this.filter}}
    @sort={{this.sort}}
    @page={{this.page}}
    @size={{this.size}}
    @autoSearch={{true}}
    @updatePage={{fn (mut this.page)}}
    @updatePageSize={{fn (mut this.size)}} {{!-- change to size or vice-versa? --}}
    @updateFilter={{fn (mut this.filter)}}
    @updateSort={{fn (mut this.sort)}}
  >
    <:data-cell as |cell|>
      {{#if (eq cell.attribute "unitPrice")}}
        <td>
          <Product::UnitPrice @value={{cell.value}} />
        </td>
      {{else if (eq cell.attribute "isEnabled")}}
        <td>
          {{#if cell.value}}Yes{{else}}No{{/if}}
        </td>
      {{/if}}
    </:data-cell>
  </Ui::Table>
</div>

{{outlet}}