{{page-title "New"}}

<div class="container">
  <Ux::PageHeader @kind="new" @class={{@model.class}} @model={{@model.product}} />

  <form {{on "submit" (e/pipe (e/prevent-default) this.persist)}} class="row">
    <Ux::DetailsCard @editable={{true}} @class={{@model.class}} @resource={{@model.product}} class="col-12">
      <:title>Details</:title>
      <:body as |C|>
        <C.Property @property="plu" @label="PLU" />
        <C.Property @property="title" />
        <C.Property @property="description" />
        <C.Property @property="sortIndex" />
      </:body>
    </Ux::DetailsCard>
    <BsButton type="submit" @type="primary">Create base product</BsButton>
  </form>
</div>

{{outlet}}
