{{page-title "Show"}}

<div class="container">
  <h1>{{@model.label}}<small>, product in detail</small></h1>

  <div class="row">
    <Ux::DetailsCard @resource={{@model}} class="col-12 col-md-8">
      <:title>Details</:title>
      <:body as |C|>
        <C.Property @property="plu" @label="PLU" />
        <C.Property @property="label" />
        <C.Property @property="altLabel" />
        <C.Property @property="description" />
        <C.Property @property="ingredientsText" @label="Ingredients">{{{@model.ingredientsText}}}</C.Property>
        <C.Property @property="allergensText" @label="Allergens">{{{@model.allergensText}}}</C.Property>
        <C.Property @property="nutricionDataText" @label="Nutricion data">{{{@model.nutricionDataText}}}</C.Property>
        <C.Property @property="sortIndex" />
        <C.Property @property="productLabels">
          {{#each @model.productLabels as |uri|}}
            {{#let (product/label-info uri) as |label|}}
              <img src={{label.image}} alt={{label.label}} />
            {{/let}}
          {{/each}}
        </C.Property>
        <C.Property @property="isEnabled" />
      </:body>
    </Ux::DetailsCard>
    <Ui::Card @title="Preview" class="col-12 col-md-4">
      {{#if @model.thumbnail}}
        <img src={{@model.thumbnail.downloadUrl}} alt={{concat @model.label " on white background"}} />
      {{/if}}
    </Ui::Card>
    <Ui::Card @title="Prices" class="col-12 col-md-6" as |card|>
      <card.Section @title="defaults">
        <div class="row col-md-6 col-12">
          Cost: <Product::UnitPrice @value={{@model.unitPrice}} />
        </div>
        <div class="row col-md-6 col-12">
          Amount: {{@model.targetUnit.value}} {{human-unit @model.targetUnit.unit}}
        </div>
      </card.Section>
      <card.Section @title="offers">
        <ul>
          {{#each @model.offerings as |offering|}}
            <li><Product::Price @offering={{offering}} /></li>
          {{/each}}
        </ul>
      </card.Section>
    </Ui::Card>
    <Ui::Card @title="Product groups" class="col-12 col-md-6">
      <ul>
        {{#each @model.productGroups as |productGroup|}}
          <li>
            <Ux::Link @model={{productGroup}} />
          </li>
        {{/each}}
      </ul>
    </Ui::Card>
  </div>
</div>

{{outlet}}