{{page-title "Show"}}

<div class="container">
  <h1>{{@model.label}}<small>, product in detail</small></h1>

  <div class="row">
    <div class="col-12 col-md-8 bg-white h-100 p5 border rounded-3">
      <DetailsCard @resource={{@model}}>
        <:title>Details</:title>
        <:body as |C|>
          <C.Property @property="plu" @label="PLU" />
          <C.Property @property="isEnabled" />
          <C.Property @property="label" />
          <C.Property @property="altLabel" />
          <C.Property @property="description" />
          <C.Property @property="ingredientsText">{{{@model.ingredientsText}}}</C.Property>
          <C.Property @property="allergensText">{{{@model.allergensText}}}</C.Property>
          <C.Property @property="nutricionDataText">{{{@model.nutricionDataText}}}</C.Property>
          <C.Property @property="sortIndex" />
          <C.Property @property="productLabels" />
        </:body>
      </DetailsCard>
    </div>
    <div class="col-12 col-md-4">
      World
    </div>
  </div>
</div>

{{outlet}}