<Ux::DetailsCard::Dt>{{this.label}}</Ux::DetailsCard::Dt>
<Ux::DetailsCard::Dd>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{#if this.editing}}
      {{#if this.hasCustomEditComponent}}
        {{component this.editComponentName
            exitEditing=(fn (mut this.editing) false)
            resource=@resource
            property=@property}}
      {{else if (is-property-type @resource @property "boolean")}}
        <span class="input-group">
          <input {{on "input" (pipe (e/boolean-val) (set-prop @resource @property))}}
            type="checkbox"
            class="form-control"
            checked={{get @resource @property}} />
          <BsButton
            {{on "click" (fn (mut this.editing) false)}}
            @type="primary">
            <i class="bi bi-check" />
          </BsButton>
        </span>
      {{else if (is-property-type @resource @property "text")}}
        <span class="input-group">
          <textarea {{on "input" (pipe (e/str-val) (set-prop @resource @property))}}
            {{on "change" (fn (mut this.editing) false)}}
            class="form-control"
            value={{get @resource @property}}>
            {{get @resource @property}}
          </textarea>
          <BsButton
            {{on "click" (fn (mut this.editing) false)}}
            @type="primary">
            <i class="bi bi-check" />
          </BsButton>
        </span>
      {{else}}
        <span class="input-group">
          <input {{on "input" (pipe (e/str-val) (set-prop @resource @property))}}
            {{on "change" (fn (mut this.editing) false)}}
            class="form-control"
            value={{get @resource @property}} />
          <BsButton
            {{on "click" (fn (mut this.editing) false)}}
            @type="primary">
            <i class="bi bi-check" />
          </BsButton>
        </span>
      {{/if}}
    {{else}}
      {{#if (is-property-type @resource @property "boolean")}}
        <span {{on "click" (fn (mut this.editing) true)}}>
          {{#if (get @resource @property)}}Yes{{else}}No{{/if}}
        </span>
      {{else if (is-property-type @resource @property "text")}}
        <span {{on "click" (fn (mut this.editing) true)}} style="min-width: 3em; min-height: 2em; display: inline-block">
          {{{get @resource @property}}}
        </span>
      {{else}}
        <span {{on "click" (fn (mut this.editing) true)}} style="min-width: 3em; min-height: 2em; display: inline-block">
          {{get @resource @property}}
        </span>
      {{/if}}
    {{/if}}
  {{/if}}
</Ux::DetailsCard::Dd>
