{{#if this.renderLabel}}
  <Ux::DetailsCard::Dt>{{this.label}}</Ux::DetailsCard::Dt>
{{/if}}
<Ux::DetailsCard::Dd>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{#if this.editing}}
      {{#if this.hasCustomEditComponent}}
        {{component this.customEditComponentName
            exitEditing=(fn (mut this.editing) false)
            resource=@resource
            property=@property}}
      {{else if (is-property-type @resource @property "boolean")}}
        <div class="input-group">
          <div class="input-group-text">
            <input {{on "input" (e/pipe (e/boolean-val) (e/set-prop @resource @property))}}
              type="checkbox"
              class="form-check-input"
              checked={{get @resource @property}} />
          </div>
          <BsButton
            {{on "click" (fn (mut this.editing) false)}}
            @type="primary">
            Confirm
          </BsButton>
        </div>
      {{else if (is-property-type @resource @property "text")}}
        <span class="input-group">
          <textarea {{on "input" (e/pipe (e/str-val) (e/set-prop @resource @property))}}
            {{on "change" (fn (mut this.editing) false)}}
            class="form-control"
            value={{get @resource @property}}>
            {{get @resource @property}}
          </textarea>
          <BsButton
            {{on "click" (fn (mut this.editing) false)}}
            @type="primary">
            <i class="bi bi-check" />
          </BsButton>
        </span>
      {{else}}
        <span class="input-group">
          <input {{on "input" (e/pipe (e/str-val) (e/set-prop @resource @property))}}
            {{on "change" (fn (mut this.editing) false)}}
            class="form-control"
            value={{get @resource @property}} />
          <BsButton
            {{on "click" (fn (mut this.editing) false)}}
            @type="primary">
            <i class="bi bi-check" />
          </BsButton>
        </span>
      {{/if}}
    {{else}}
      {{#if this.customShowComponent}}
        {{component this.customShowComponent
            startEditing=(fn (mut this.editing) true)
            resource=@resource
            property=@property}}
      {{else if (is-property-type @resource @property "boolean")}}
        <span {{on "click" (fn (mut this.editing) true)}}>
          {{#if (get @resource @property)}}Yes{{else}}No{{/if}}
        </span>
      {{else if (is-property-type @resource @property "text")}}
        <span {{on "click" (fn (mut this.editing) true)}} style="min-width: 3em; min-height: 2em; display: inline-block">
          {{{get @resource @property}}}
        </span>
      {{else}}
        <span {{on "click" (fn (mut this.editing) true)}} style="min-width: 3em; min-height: 2em; display: inline-block">
          {{get @resource @property}}
        </span>
      {{/if}}
    {{/if}}
  {{/if}}
</Ux::DetailsCard::Dd>
