{{#let (get @resource @property) as |qv|}}
  <span class="input-group">
    <input {{on "change" (e/pipe (e/number-val) (e/set-prop qv "value"))}}
      type="number"
      step="any"
      value={{qv.value}}
      class="form-control"
    />

    <Product::SelectUnit
      @onChange={{e/set-prop qv "unit"}}
      @selected={{qv.unit}} />

    <BsButton {{on "click" @exitEditing}} @type="primary">
      <i class="bi bi-check" />
    </BsButton>
  </span>
{{/let}}
