{{#let (get @resource @property) as |qv|}}
  <span class="input-group">
    <input {{on "change" (e/pipe (e/number-val) (e/set-prop qv "value"))}}
      type="number"
      step="any"
      value={{qv.value}}
      class="form-control"
    />
    {{#let (gen-id) as |id|}}
      <label for={{id}} class="input-group-text" disabled>per</label>
      <Product::SelectUnit
        @id={{id}}
        @selected={{qv.unit}}
        @onChange={{e/set-prop qv "unit"}} />
    {{/let}}
    <BsButton {{on "click" @exitEditing}} @type="primary">
      <i class="bi bi-check" />
    </BsButton>
  </span>
{{/let}}
