<div class="p-2" ...attributes>
  <div class="card-body bg-white h-100 border rounded-3">
    {{#if (or (has-block "title") @title)}}
      <h5 class="card-title p-2">
        {{#if (has-block "title")}}
          {{yield to="title"}}
        {{else}}
          {{@title}}
        {{/if}}
      </h5>
    {{/if}}
    <dl class="row m-3">
      {{#if (has-block "body")}}
        {{yield (hash Section=(component "ui/card/section")) to="body"}}
      {{else}}
        {{yield (hash Section=(component "ui/card/section")) to="default"}}
      {{/if}}
    </dl>
  </div>
</div>