<select
  {{on "change" (e/pipe (e/str-val) @onChange)}}
  id={{or @id (gen-id)}} class="form-control" name="unit">
  {{#each (list "C62" "KGM" "GRM") as |unit|}}
    {{!-- TODO: provide a default unselected option for selected units? --}}
    {{#if (eq unit (or @selected "C62"))}}
      <option selected value={{unit}}>{{human-unit unit}}</option>
    {{else}}
      <option value={{unit}}>{{human-unit unit}}</option>
    {{/if}}
  {{/each}}
</select>