{{page-title "Banners overview"}}

<div class="container">
  <Ux::PageHeader @kind="list" @class="banner" />

  <Ui::Table
    @content={{@model}}
    @fields="isEnabled title sortIndex"
    @links="banners.edit:edit:pencil banners.show:open:file-earmark-richtext"
    @customFields="isEnabled"
    @rowLink="banners.edit"
    @autoSearch={{500}}
    @view={{this.view}}
  >
    <:data-cell as |cell|>
      <td>
        {{#if (eq cell.attribute "isEnabled")}}
          {{#if cell.value}}Public{{else}}Hidden{{/if}}
        {{/if}}
      </td>
    </:data-cell>
  </Ui::Table>
</div>

{{outlet}}