{{page-title "Edit"}}

<div class="container">
  <Ux::PageHeader @model={{@model}} @kind="edit"/>

  <form {{on "submit" (e/pipe (e/prevent-default) this.persist)}}>

    <div class="row">
      <Ux::DetailsCard @editable={{true}} @resource={{@model}} class="col-12">
        <:title>General</:title>
        <:body as |C|>
          <C.Property @property="label" @label="Name" />
          <C.Property @property="deliveryKind" @label="Delivery kind" />
          <C.Property @property="isEnabled" @label="enabled?" />
        </:body>
      </Ux::DetailsCard>
    </div>
    <div class="row">
      <Ux::DetailsCard @editable={{true}} @resource={{@model.postalAddress}} class="col-6">
        <:title>Postal address</:title>
        <:body as |C|>
          <C.Property @property="country" @label="Country" />
          <C.Property @property="postalCode" @label="Postal code" />
          <C.Property @property="locality" @label="Village" />
          <C.Property @property="streetAddress" @label="Street address" />
        </:body>
      </Ux::DetailsCard>
      <Ux::DetailsCard @editable={{true}} @resource={{@model}} class="col-6">
        <:title>Delivery route</:title>
        <:body as |C|>
          <C.Property @property="deliveryRoute" @renderLabel={{false}} />
        </:body>
      </Ux::DetailsCard>
    </div>
    <div class="row">
      <Ux::DetailsCard @editable={{true}} @resource={{@model}} class="col-12">
        <:title>Geo location</:title>
        <:body as |C|>
          <C.Property @property="geoCoordinate" @renderLabel={{false}} />
        </:body>
      </Ux::DetailsCard>
    </div>
    <div class="row p-2">
      <BsButton type="submit" @type="primary" class="col-6 col-s-12">Save</BsButton>
      <BsButton
        {{on "click" this.destroy}}
        @type="danger"
        type="button"
        class="col-6 col-s-12">
        Delete
      </BsButton>
    </div>
  </form>
</div>
