{{page-title "Show"}}

<div class="container">
  <Ux::PageHeader @model={{@model}} @kind="show"/>

  <div class="row">
    <Ux::DetailsCard @editable={{false}} @resource={{@model}} class="col-12">
      <:title>Details</:title>
      <:body as |C|>
        <C.Property @property="label" @label="Name" />
        <C.Property @property="deliveryKind" @label="Delivery kind" />
        <C.Property @property="postalAddress" @label="Address" />
        <C.Property @property="isEnabled" @label="Enabled?" />
        <C.Property @property="deliveryRoute" />
      </:body>
    </Ux::DetailsCard>
    <Ux::DetailsCard @editable={{false}} @resource={{@model}} class="col-12">
      <:title>Geo location</:title>
      <:body as |C|>
        <C.Property @property="geoCoordinate" @renderLabel={{false}} />
      </:body>
    </Ux::DetailsCard>
  </div>
</div>
