{{page-title "New"}}

<div class="container">
  <Ux::PageHeader @kind="new" @class={{@model.class}} @model={{@model.deliveryRoute}} />

  <form {{on "submit" (e/pipe (e/prevent-default) this.persist)}} class="row">
    <Ux::DetailsCard @editable={{true}} @class={{@model.class}} @resource={{@model.deliveryRoute}} class="col-12">
      <:title>Details</:title>
      <:body as |C|>
        <C.Property @property="label" />
        <C.Property @property="nextDeliveryDate" @label="Next delivery" />
        <C.Property @property="lfwLink" @label="Link to LFW" />
      </:body>
    </Ux::DetailsCard>

    <BsButton type="submit" @type="primary">Create route</BsButton>
  </form>
</div>

{{outlet}}