{{page-title "Show"}}

<div class="container">
  <Ux::PageHeader @kind="show" @model={{@model}} />

  <div class="row">
    <Ux::DetailsCard @editable={{false}} @resource={{@model}} class="col-6">
      <:title>Details</:title>
      <:body as |C|>
        <C.Property @property="label" @label="Name" />
        <C.Property @property="nextDeliveryDate" @label="Next delivery date" />
        <C.Property @property="lfwLink" @label="Link to LFW" />
      </:body>
    </Ux::DetailsCard>
    <Ux::DetailsCard @editable={{false}} @resource={{@model}} class="col-6">
      <:title>Delivery places</:title>
      <:body as |C|>
        <C.Property @renderLabel={{false}} @property="deliveryPlaces" @label="Delivery places" />
      </:body>
    </Ux::DetailsCard>
  </div>
</div>
